/*
	style.css

	colours:

	Black:			#000000
	Darker Gray: 	#222222
	Dark Gray:		#333333
	Gray:			#444444
	Light Gray:		#eeeeee
	Light Blue:		#00c0ff
	Dark Blue:		#0090bf
	
 */

 /* ------------------------
	General styles
 ------------------------- */
 html {
 	-webkit-font-smoothing: antialiased;
 	text-rendering: optimizeLegibility;
 }

 body {
 	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 	font-size: 14px;
 	line-height: 20px;
 	color: #444444;
 	overflow: hidden;
 }

 /* ------------------------
	Typography
 ------------------------- */
h1, h2, h3 {
	font-weight: 300;
	margin: 0;
	line-height: 45px;
}

h4, h5, h6 {
	font-weight: bold;
	margin: 5px 0 5px 0;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 18px;
	margin: 10px 0;
}

h5 {
	font-size: 13px;
	margin: 0;
}

p {
	margin: 0 0 10px 0;
}

p.lead {
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}


/* ------------------------
	Layout
 ------------------------- */
.container{
 	max-width: 940px;
 	padding: 0 10px;
 	margin: 0 auto;
 }

header {
	background: #000;
}

#logo {
	display: block;
	padding: 17px 0 16px 5px;
	float: left;
}

#hero {
	background: #00c0ff;
	color: #000;
}

#hero-title {
	width: 520px;
	padding: 60px 0;
	float: left;
}

#call-to-action {
	margin: 40px 0;
}

#hero-image {
	float: right;
	margin: 10px 0 -30px 0;
	width: 40%;
}

#lead-in {
	margin-bottom: 30px;
}

#content {
	padding: 100px 0;
}

#column-content {
	width: 75%;
	float: left;
}

.column {
	float: left;
	width: 33%;
}

.column .inner {
	margin-right: 20px;
}

.column img {
	width: 100%;
}

.column p {
	text-align: justify;
}



/* ------------------------
	Sidebar
 ------------------------- */

aside {
 	background: #444;
 	width: 25%;
 	color: #fff;
 	float: left;
 	/*margin-left: 20px;*/
 	/*padding: 30px;*/
 	font-size: 12px;
 	line-height: 18px;
 }

aside .inner {
	margin: 20px;
}

aside .widget {
 	margin: 10px 0;
 }

aside .widget:nth-child(2) {
	margin-top: 40px;
}

aside .widget h4 {
	font-weight: 200;
	font-size: 20px;
	margin: 0 0 10px;
}

aside .socials a {
	position: relative;
	margin-right: 5px;
}

aside .socials a:hover {
	top: -1px;
}


/* --------------------------
	Secondary Call-to-action
 ---------------------------- */

#secondary-cta {
	background: #eee;
	padding: 30px 0;
}

#secondary-cta h4 {
	font-weight: 200;
	font-size: 24px;
	float: left;
}

#secondary-cta form {
	margin: 0;
	float: right;
}


/* --------------------------
	footer
 ---------------------------- */

footer {
	background: #444;
	color: #fff;
	padding: 15px 0;
}

footer #copyright {
	width: 230px;
	float: left;
}

footer nav {
	width: 340px;
	float: right;
}

footer nav ul {
	width: 100%;
}

footer nav ul li {
	width: 85px;
}

footer a {
	color: #fff;
	text-decoration: none;
}

footer nav a {
	margin: 0 0 0 15px;
}

footer nav a:hover {
	color: #00c0ff;
}

footer p {
	margin: 0;
}


/* ------------------------
	Navigation
 ------------------------- */

nav {
	width: 100%;
} 

nav ul {
	margin: 0;
	padding: 0;
	float: right;
}

header nav ul li {
	width: 80px;
	list-style: none;
	display: inline;
	float: left;
}

footer nav ul li {
	width: 20%;
	list-style: none;
	display: inline;
	float: left;
}

header nav ul li a {
	text-align: center;
	display: block;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	padding: 20px 0;
	border-left: solid 1px #333;
}

header nav a#pull {
    display: none;
}

header nav ul li a:hover {
	background: #222;
}

header nav ul li a:active {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8) inset;
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,0.8) inset;
	        box-shadow: 0 0 5px rgba(0,0,0,0.8) inset;
}


/* ------------------------
	Buttons
 ------------------------- */

.btn {
	width: auto;
	background: #0090bf;
	border: 1px solid #1e728c;
	color: #fff;
	cursor: pointer;
	display: inline-block;

	/* IE 7 */
	zoom: 1;
	*display: inline;

	margin: 0;
	outline: none;
	padding: 10px 20px 11px;
	position: relative;
	text-align: center;
	text-decoration: none;

	/* fancy box shadows */
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	   -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;
	        box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset;

	/* CSS3 animation */
	-webkit-transition: background-color 0.15s ease-in-out;
	   -moz-transition: background-color 0.15s ease-in-out;
	     -o-transition: background-color 0.15s ease-in-out;
	        transition: background-color 0.15s ease-in-out;

}

.btn:hover {
	color: #fff;
	background-color: #0086b2;
}

.btn:active {
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
	   -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
	        box-shadow: 0 1px 0 rgba(0,0,0,0.2) inset;
	color: #fff;
}

.btn-large {
	padding: 22px 30px;
	font-size: 24px;
	font-weight: 200;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active {
	background: none;
	border: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	        box-shadow: none;
    font-size: 20px;

}

.btn-secondary:hover {
	text-decoration: underline;
}

.btn-secondary:active {
	position: relative;
	top: 1px;
}

.btn-small {
	font-weight: bold;
}



 /* ------------------------
	Global styles
 ------------------------- */

.clearfix:before, .clearfix:after {
 	content: "";
 	display: table;
}

.clearfix:after {
 	clear: both;
}

.clearfix {
 	zoom: 1;  /* for IE 6/7 */
}

input {
	-webkit-font-smoothing: antialiased;
 	text-rendering: optimizeLegibility;
}

input[type="text"], input[type="email"] {
	position: relative;
	padding: 10px 10px 11px;
	border: solid 1px #ccc;
	width: 220px;
	margin: 0 -5px 0 0;
}


/*---------------------------------------------------------------------------
							966px
----------------------------------------------------------------------------- */
@media screen and (max-width: 966px) {
	.container {
		width: 100%;
		padding: 0;
	}

	header nav ul {
		width: 400px;
		font-size: 14px;
	}

	#hero-title {
		padding: 10px 0;
	}

	#hero-image {
		width: 31%;
	}

	.btn-large {
		font-size: 20px;
	}

	.btn-secondary {
		font-size: 18px;
		margin-top: 10px;
	}

	#content {
		padding: 60px 0 30px;
	}

	footer nav {
		width: 50%;
	}

	footer > nav > ul > li {
		margin: 0 10px;
	}

}


/*---------------------------------------------------------------------------
							768px
----------------------------------------------------------------------------- */
@media screen and (max-width: 768px) {

	.container > .inner, footer > .inner {
		margin: 10px;
	}

	#hero-image {
		display: none;
	}

	#hero-title {
		width: 100%;
		text-align: center;
		padding: 20px 0 0;

	}

	#hero-image {
		width: 100%;
		text-align: center;
	}

	.column {
		width: 50%;
		margin-bottom: 20px;
	}

	aside {
		width: 30%;
	}

	#column-content {
		width: 70%;
	}

	footer nav {
		width: 40%;
	}

	footer nav ul li {
		width: 70px;
	}


	#secondary-cta {
		text-align: center;
	}

	#secondary-cta > .inner {
		margin: 0 10px;
	}

	#secondary-cta h4, #secondary-cta form {
		float: none;
	}

}



/*---------------------------------------------------------------------------
							640px
----------------------------------------------------------------------------- */

@media screen and (max-width: 640px) {

	header nav ul {
		display: block;
		width: 350px;
		font-size: 14px;
	}

	header nav ul li {
		width: 70px;
	}

	aside {
		width: 100%;
	}

	#column-content {
		width: 100%;
	}

	aside .widget:nth-child(2) {
		margin-top: 20px;
	}

}


/*---------------------------------------------------------------------------
							480px
----------------------------------------------------------------------------- */

@media screen and (max-width: 480px) {

	h1 {
		font-size: 36px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 24px;
	}

	header nav ul {
        display: none;
        width: 100%;
        position: absolute;
        top: 60px;
        right: 0;
        background: #000;
        opacity: 0.8;
    }

    header nav ul li {
    	width: 20%;
    }	
	
    header nav #pull{
        content:"";
        background: url('/images/icon-menu.png') no-repeat;
        background-size: 30px;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 15px;
    }

    #call-to-action {
    	padding: 25px 0;
    	margin: 0;
    }

    input[type="text"], input[type="email"] {
		padding: 10px 10px 11px;
		width: 50%;
	}

	footer {
		padding: 1px 0;
	}

	footer nav {
		width: 100%;
	}

	footer nav ul li {
		width: 20%;
		text-align: center;
	}

	footer nav a {
		margin: 0;
	}

	footer #copyright {
		width: 100%;
		text-align: center;
		margin-bottom: 10px;
	}


}


/*---------------------------------------------------------------------------
							320px
----------------------------------------------------------------------------- */

@media screen and (max-width: 320px) {

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 22px;
	}

	header nav ul {
        font-size: 11px;
        font-weight: 200;
    }

    header nav ul li {
    	width: 20%;
    }	
	
    header nav #pull{
        content:"";
        background: url('/images/icon-menu.png') no-repeat;
        background-size: 30px;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 10px;
        top: 15px;
    }

    .column {
		width: 100%;
		margin-bottom: 20px;
	}

	footer nav a {
		font-size: 10px;
	}

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}